.custom-list {
  list-style: none;          
  counter-reset: item;      
  padding-left: 0;
  color: blue;
}

.custom-list li {
  counter-increment: item;   
  margin: 0.25em 0;
}

.custom-list li::before {
  content: counter(item) ") ";  
  
}
/*  Loievskyi Z1_html  */ 



